/* styles.css */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title {
    margin-top: 50px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.btn {
    margin-top: 20px;
}

.alert {
    margin-top: 20px;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}
